/*
Colors used:
Primary Colors: #ffffff (white) and #333333 (black)
Secondary Colors: #7094ac (blue) and #bc9d62 (gold)
*/
body {
  background-color: white;
  font-family: 'Avenir Next', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #333333;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('avenir-next/AvenirNext.oet');
  src: url('avenir-next/AvenirNext.ttf')  format('truetype'),
}
